body {
    padding: 0;
    margin: 0;
    background-color: #1D4734;
}

h1,
h2,
h3,
p,
span {
    color: white;
}

.header-sec {
    z-index: 20;
    position: relative;
}

.header-sec span {
    /* color: white; */
    font-size: 22px;
    font-weight: bold;
}

.header-bg {
    padding: 50px 0 0 0;
}

.navbar-style {
    padding: 12px 10px;
    border-radius: 40px;
    background-color: white;
}

.navbar-style ul {
    padding: 0;
    margin: 0;
}

.navbar-style ul li {
    display: inline;
    list-style-type: none;
    padding-left: 16px;
}

.navbar-style ul li a {
    color: black;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

.home-active {
    border: solid 2px black;
    border-radius: 40px;
    padding: 6px 14px;
    margin: 0 5px;
}

.nav-btn {
    padding: 13px 10px;
    border-radius: 40px;
    background-color: white;
    display: table;
    margin: 0 0 0 auto;
}

.nav-btn ul {
    padding: 0;
    margin: 0;
}

.angle-i {
    font-size: 10px;
    padding: 0 5px;
}

.nav-btn ul li {
    display: inline;
    list-style-type: none;
}

.nav-btn ul li a {
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

.nav-active a {
    color: white;
}

.nav-login a {
    padding: 0 10px;
    color: black;
}

.nav-active {
    background-color: #1D4734;
    border-radius: 40px;
    padding: 10px 18px;
}

.banner {
    padding: 80px 0;
}

.icon-style {
    background-color: #E09B6B;
    padding: 30px 34px;
    border-radius: 50%;
    font-size: 28px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(54deg);
    z-index: 20;
}

.banner h1 {
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
}

.line-patt {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 9;
}

.banner-bg img {
    width: 100%;
    height: auto;
    border-radius: 250px;
    transform: rotate(4deg);
}

.banner p {
    font-size: 16px;
    margin: 20px 20px 30px 0;
}

.banner-bg {
    position: relative;
    margin-top: -18%;
}

.img-after::after {
    background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(13, 13, 13, 0.81) 100%);
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 23%;
    bottom: 0;
    content: " ";
    z-index: 9;
    border-radius: 250px;
    transform: rotate(4deg);
}

.star-text {
    width: 20%;
    height: auto;
}

.star-image span {
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
}

.about {
    padding: 80px 0 180px 0;
    background-color: black;
}

.star-image img {
    width: 20%;
}

.about H2 {
    font-size: 60px;
    text-transform: uppercase;
}

.about p {
    font-size: 16px;
}

.about-bg {
    margin-top: 80px;
    position: relative;

}

.about-after::after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 39%, rgba(18, 18, 18, 0.81) 100%);
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: -19%;
    content: " ";
    z-index: 9;
    border-radius: 250px;
}

.about-bg img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    position: relative;
    z-index: 10;
    border-radius: 250px;
}

.h3-s {
    position: absolute;
    z-index: 20;
    font-size: 90px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    bottom: -15%;
    right: 25%;
}

.project-sec span {
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
}

.project-sec {
    padding: 80px 0;
}

.hexa-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hexa-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    -webkit-mask-image: url(../images/rectangle.png);
    -webkit-mask-size: auto 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.project-icon {
    font-size: 20px;
    border: solid 2px white;
    border-radius: 50%;
    padding: 24px;
    margin: 0 10px;
    color: white;
}

.icon-p {
    text-align: center;
}

.quality {
    padding: 40px 0 80px 0;
    position: relative;
}

.quality span {
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
}

.qulity-image {
    padding: 50px 0 0 0;
}

.blur-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    clip-path: ellipse(34% 40% at 50% 50%);
}

.blur-img {
    position: relative;
    z-index: 20;
    margin: -16% 0 0 0;
}

.blur-icon {
    background-color: #E09B6B;
    padding: 30px 34px;
    border-radius: 50%;
    font-size: 34px;
    position: absolute;
    bottom: 3%;
    left: 42%;
    transform: rotate(54deg);
}

.blur-halfimg {
    width: 30%;
    height: 450px;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 20%;
    clip-path: ellipse(34% 40% at 50% 50%);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    z-index: 9;
}

.qulity-image h2 {
    font-size: 70px;
    text-transform: uppercase;
}

.btn-style {
    background-color: #E09B6B;
    color: #1D4734;
    border: none;
    padding: 14px 26px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.newsletter {
    background-color: black;
    padding: 80px 0;
    text-align: center;
}

.newsletter h1 {
    font-size: 130px;
    text-transform: uppercase;
    font-weight: 400;
}

.news-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 130px;
    transform: rotate(7deg);
}

.justify {
    justify-content: center;
}

.news-img {
    position: relative;
}

.news-icon {
    background-color: #E09B6B;
    padding: 30px 34px;
    border-radius: 50%;
    font-size: 34px;
    position: absolute;
    bottom: 19%;
    right: -7%;
    transform: rotate(54deg);
    z-index: 20;
}

.news-after::after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 39%, rgba(18, 18, 18, 0.51) 100%);
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 10%;
    bottom: -11%;
    content: " ";
    z-index: 9;
    border-radius: 130px;
    transform: rotate(7deg);
}

.footer-sec {
    padding: 80px 0;
    text-align: center;
}

.footer-list ul {
    padding: 0;
    margin: 0;
}

.footer-list ul li {
    display: inline;
    list-style-type: none;
    padding: 0 10px;
}

.footer-list ul li a {
    color: white;
    text-decoration: none;
}

.footer-sec span {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-sec p {
    color: rgb(252, 246, 246, 0.6);
    font-size: 20px;
    margin: 20px 0 30px 0;
}

.footer-sec hr {
    color: white;
    opacity: 0.5;
    margin: 50px 0;
}

.footer-nav ul {
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0 30px;
}

.border-li {
    border-left: 3px solid rgb(252, 246, 246, 0.3);
}

.footer-nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.count-style span {
    font-size: 34px;
    /* color: white; */
    font-weight: bold;
}

.count-style h1 {
    color: #E09B6B;
    font-weight: 500;
}

.count-style p {
    font-size: 16px;
    color: rgb(252, 246, 246, 0.6);
}

.insights-count {
    padding-top: 50px;
}